body {
    background-color: #1a1a1a;
    color: white;
    font-family: Bahnschrift, serif;
}

#logo {
    width: 100px;
    height: 100px;
}

h1 {
    margin-left: 20px;
}

.waterdiv {
    width: 500px;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#waterdiv5 {
    background-color: grey;
    border-radius: 15px 15px 5px 5px;
}

#waterdiv4 {
    background-color: grey;
    border-radius: 5px;
}

#waterdiv3 {
    background-color: grey;
    border-radius: 5px;
}

#waterdiv2 {
    background-color: grey;
    border-radius: 5px;
}

#waterdiv1 {
    background-color: grey;
    border-radius: 5px 5px 15px 15px;
}

#legendtable {
    width: 500px;
    background-color: #343434;
    border-radius: 15px;
    text-align: center;
}

.legendtd {
    width: 250px;
}

.legend {
    width: 240px;
    height: 50px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    vertical-align: center;
}

#tiwater {
    margin-top: 5px;
    border-radius: 15px 15px 5px 5px;
    background-color: royalblue;
}

#tinowater {
    border-radius: 5px;
    background-color: lightslategrey;
}

#tinodata {
    margin-bottom: 5px;
    border-radius: 5px 5px 15px 15px;
    background-color: grey;
}